$white:         #ffffff;
$dark-blue:     #345cab;
$warm-blue:     #648eca;
$warm-blue-translucent: rgba(165, 217, 246, 0.36);
$light-blue:    #a5d9f6;
$alert-red:     #ca6478;
$light-purple:  rgba(102, 0, 204, 0.25);
$light-green:   rgba(0, 204, 51, 0.25);
$light-yellow:  rgba(204, 153, 0, 0.25);
$light-red:     rgba(204, 0, 0, 0.25);
$light-grey:    rgba(0, 0, 0, 0.25);

.modal-picture-div {
  height: 225px;
  overflow: hidden;
  position: relative;
  width: 175px;
} 

img.modal-button {
  background-color: $dark-blue;
  border-radius: 10px;
  display: block;
  height: 190px;
  margin: 15px;
  padding: 10px;
  position: absolute;
  width: auto;
}

button {
  cursor: pointer;
}

ul.menu anime-title-menu-list {
  float: right;
  margin-bottom: 10px;
}

li.anime-tile-menu {
  border-radius: 5px;
  font-size: 0.5em;
  padding: 5px;
  text-align: center;
  width: 70px;
}

li.anime-tile-menu.to-watch {
  border: 5px solid $light-purple;
}

li.anime-tile-menu.to-watch.confirmed {
  background-color: $light-purple;
}

li.anime-tile-menu.loved {
  border: 5px solid $light-green;
}

li.anime-tile-menu.confirmed {
  background-color: $light-green;
}

li.anime-tile-menu.meh {
  border: 5px solid $light-yellow;
}

li.anime-tile-menu.meh.confirmed {
  background-color: $light-yellow;
}

li.anime-tile-menu.hated {
  border: 5px solid $light-red
}

li.anime-tile-menu.hated.confirmed {
  background-color: $light-red;
}

li.anime-tile-menu.close {
  background-color: $light-grey;
}

ul.menu.anime-tile-menu-list {
  float: right;
  margin-bottom: 10px;
  margin-top: -10px;
}

ul.menu.anime-tile-menu-dots {
  margin-left: 30px;
}

.dot {
  color: black;
  cursor: pointer;
}

.dot.to-watch.confirmed {
  color: $light-purple;
}

.dot.loved.confirmed {
  color: $light-green;
}

.dot.meh.confirmed {
  color: $light-yellow;
}

.dot.hated.confirmed {
  color: $light-red;
}
