$white: #ffffff;
$black: #000000;
$dark-blue:   #345cab;
$light-blue:  #a5d9f6;
$form-box-grey-shadow: #2d2d2d;
$venue-form-background-color: rgba(137, 157, 173, 0.7);
$input-background-color: rgba(255, 255, 255, 0.54);
$low-opacity-white: rgba(255, 255, 255, 0.22);
$text-shadow: 2px 2px 10px $dark-blue;

.form-box {
  background-color: $white;
  border: solid 2px;
  border-color: $low-opacity-white;
  border-radius: 6px;
  box-shadow: 5px 5px 15px $form-box-grey-shadow;
  margin: 2% 25%;
  padding: 2em;
  width: 50%;

  h2 {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;
  }

  label {
    color: $dark-blue;
    margin-top: 7px;
    // text-shadow: $text-shadow;
  }

  input {
    background-color: $input-background-color;
    border-radius: 5px;
    cursor: pointer;
  }

  select {
    background-color: $input-background-color;
    border-color: $low-opacity-white;
    border-radius: 5px;
    float: right;
    width: 75%;
  }

  .actions {
    text-align: center
  }

  .input[type="submit"] {
    color: $dark-blue;
    cursor: pointer;
  }

  .bumper {
    text-align: center;
  }
}
