$red: #FF0000;

.user-panel {
  cursor: default;
  overflow: hidden;
}

.user-panel-img {
  height: 105px;
  margin-left: 20px;
}

.user-show-text {
  padding-top: 23px;
}

.user-panel-quotient {
  display: inline;
}

.user-panel-chat-button {
  margin-left: 20px;
  cursor: pointer;
}

.user-panel-heart {
  margin-right: 10px;
  color: $red;
}

.modalSticky {
  height: 100%;
  width: 100%;
}

div.menu.chatModal {
  padding-bottom: 50px;
}

.chatModalMessages {
  height: 60%;
  margin-bottom: 20px;
  overflow: scroll;
  width: 100%;
}

.chatModalMessagesContent {
  padding-left: 10px;
  padding-right: 10px;
}

.chatModalHeader {
  height: 10%;
  width: 100%;
}

.chatModalFooter {
  height: 10%;
  width: 100%;
}

input.button.secondary.message {
  margin-bottom: 1rem;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}
